<div class="container" style="margin: 0px 0px 32px 0px;">
  <h1>My Profile!</h1>
  <br />
  <div class="alert alert-success" *ngIf='errorMessage'>{{ errorMessage }}</div>
  <br />
  <table class="table table-striped table-hover">
    <tbody>
      <tr>
        <td>Name</td>
        <td>{{ user.name }}</td>
      </tr>
      <tr>
        <td>Username</td>
        <td>{{ user.username }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ user.email }}</td>
      </tr>
      <tr>
        <td>Security Question</td>
        <td>{{ user.securityQuestion }}</td>
      </tr>
      <tr>
        <td>Answer</td>
        <td>{{ user.answer }}</td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary" (click)="editProfile()">edit profile</button>
</div>